@use '../../lib/mixin';
@use '../../lib/fonts';

$navbar-height-mobile: 4rem;
$tab-icon-size-mobile: 2.5rem;
$tab-icon-size-desktop: 1.5rem;

.navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  z-index: 1000;
}

.navbar__menu .tab__li {
  list-style: none;
  margin: 0;
  padding: 0;
  .tab__el {
    .tab {
      text-decoration: none;
      font-weight: 700;
      display: flex;

      &__icon {
        display: inline-block;
        background-color: blue;
        text-indent: 100%;
        overflow: hidden;
      }
    }
  }
}

@include mixin.smaller-than-desktop {
  .navbar {
    background-color: white;
    position: fixed;
    top: calc(#{100vh} - #{$navbar-height-mobile});
    height: $navbar-height-mobile;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    .logo--navbar {
      display: none;
    }

    .btn--reduceNavbar {
      display: none;
    }
  }

  .navbar__menu .tab__li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tab__el {
      .tab {
        flex-direction: column;
        align-items: center;
        width: min-content;

        &__text {
          font-size: fonts.$font-size-m3;
        }

        &__icon {
          height: $tab-icon-size-mobile;
          width: $tab-icon-size-mobile;
          max-width: $tab-icon-size-mobile;
        }
      }
    }
  }
}

@include mixin.desktop {
  .navbar {
    padding: 1rem;
    justify-content: space-between;
  }

  .navbar__menu .tab__li {
    .tab__el {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .tab {
        padding: fonts.$font-size-m3;
        border-radius: 0.25rem;

        &__text {
        }

        &__icon {
          height: $tab-icon-size-desktop;
          width: $tab-icon-size-desktop;
          max-width: $tab-icon-size-desktop;
          margin-right: fonts.$font-size-m3;
        }

        &:not(.tab--active) {
          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }
}
