@use '../../../../lib/colors';
@use '../../../../lib/fonts';
@use '../../../../lib/mixin';
@use './slotsRow';

.slots__array {
  max-width: 200px;
  overflow: hidden;
  position: relative;

  .slots__row__li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
