@use '../../lib/colors';
@use '../../lib/fonts';
@use '../../lib/mixin';
@use './infoBlocks/infoBlock';

.campaign__info {
  display: grid;
  .title {
    font-size: fonts.$font-size-6;
    color: colors.$gray-2;
  }
}

@include mixin.tablet {
  .campaign__info {
    .title {
      grid-column: 1/-1;
    }

    .info__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1rem;
      column-gap: 1rem;
    }
  }
}

@include mixin.tablet-large {
  .campaign__info {
    .info__content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
