@use '../../lib/mixin';
@use '../../lib/fonts';
@use '../../lib/colors';

.mainPageLayout {
  .mainPageLayout__page {
    min-height: 100vh;
    width: 100%;
    background-color: colors.$gray-1;
    .page__content {
      margin: 0 auto;
      padding: 0 1rem;
      max-width: 1000px;
    }
  }
}

@include mixin.desktop {
  .mainPageLayout {
    display: flex;

    .mainPageLayout__page {
      flex-grow: 1;
      max-height: 100vh;
      overflow-y: scroll;
      justify-self: center;
    }
  }
}
