@use './lib/fonts';
@use './components/navbar/navbar';
@use './components/pages/pages';
@use './components/btn/btn';
@use './components/campaignList/campaignList';
@use './components/campaignInfoSection/campaignInfoSection';

body {
  margin: 0;
  padding: 0;
}
